<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-page</title>
</head>
<body>
    <h1>This is home page</h1>
     <!-- below is the ejs tags used for to embed js into html  -->
    <h3><%= 1+5  %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptas inventore architecto illum, commodi soluta aut qui excepturi exercitationem autem animi illo, dicta libero cum et, ullam distinctio hic ipsum similique omnis. Accusamus, minus.</p>
    <button type="submit">click mec</button>
</body>
</html>